<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
       
    <bean id="personAction" class="cn.spring1027.mvc.spring.PersonAction">
    	<property name="personService">
    		<ref bean="personService"/>
    	</property>
    </bean>
    
    <bean id="personService" class="cn.spring1027.mvc.spring.PersonServiceImpl">
    	<property name="personDao">
    		<ref bean="personDao"/>
    	</property>
    </bean>
    
    <bean id="personDao" class="cn.spring1027.mvc.spring.PersonDaoImpl"></bean>
   
</beans>